<main>
  <div class="container">
    <div class="row">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>刀剣好きなら誰でも大歓迎！</h1><br>
      <h3>刀剣に関する情報を共有し合おう！</h3><br>
      <p>【禁止事項】中傷や嫌がらせ行為はやめて下さい</p>
     </div>
    </div>
  </div>
</main>