<main>
  <div class="container">
    <%= link_to '投稿管理', admin_toukens_path %> | <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>
    <div class="row">
      <div class="col-sm-12 col-md-9 px-5 px-sm-0 mx-auto pt-4">
        <h5>コメント管理</h5>
        <% @touken_comments.each do |touken_comment| %>
          <div class="card mb-2">
            <div class="card-body" style="color:black">
              <%= touken_comment.comment %>
            </div>
            <div class="card-footer text-right">
              <%= link_to 'コメント削除', admin_touken_comment_path(touken_comment), data: {confirm: '削除しますか？'}, method: :delete %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>