<main>
  <div class= "container px-5 px-sm-0">
    <div class= "row">
      <div class= "col-lg-11">
      <h2>みんなの投稿</h2>
       <%= form_with model: @touken do |f|%>
        <div class="form-group">
          <label for="touken_title">タイトル</label><br>
          <%= f.text_field :title%>
        </div>
        <div class="form-group">
          <label for="touken_body">投稿内容</label><br>
          <%= f.text_area :body%>
        </div>
        <div class="form-group">
          <%= f.submit'投稿' %>
       <% end %>
        </div>
      </div>
    </div> 
  </div>
</main>