<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
       <!--スマホ画面: col-12　タブレット画面: col-md-4　パソコン画面: col-lg-3-->
       <div class="col-12 col-md-4 col-lg-3">
         <%= render "layouts/sidebar" %>
       </div>
      <!--スマホ画面: col-12　タブレット画面: col-md-8　パソコン画面: col-lg-4-->
      <div class="col-12 col-md-8 col-lg-9 pt-4">
        <h2>投稿者情報</h2>
          <% @users.each do | user | %>
            <% if user.introduction.present? %>
              <div class="card mb-2 text-dark">
                  <div class="card-header">
                    <!--表示される文字を小さくする記述-->
                    <h6 class="small text-secondary">名前</h6>
                    <%= user.name %>
                  </div>
                  <div class="card-body">
                    <!--表示される文字を小さくする記述-->
                    <h6 class="small text-secondary">自己紹介</h6>
                    <%= user.introduction %>
                  </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</main>