$enable-rounded: false;
@import '~bootstrap/scss/bootstrap';

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ここから 各画面サイズ事に画面幅を対応させる記述 */
/* 画面に対応させるには<div class= "container"></div>をビューページに記述する*/ 
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*ここまで 各画面サイズ事に画面幅を対応させる記述 */

/*カード型の表示のレイアウト*/
.genre-card-image {
  width: 100%; /* カード内の画像の【幅】を変更するときはココ！*/
  height: 100px; /* カード内の画像の【高さ】を変更するときはココ！*/
  object-fit: cover;
}
/*ヘッダーのアイコンサイズ*/
.touken {
  width: 80px;
  height: 80px;
}

/* ヘッダーにグラデーションの装飾をする記述 */
/* ( )の中にカラーコードを記述する */
.box1 {
  background: linear-gradient(#0000CC, #000000);
  background: -moz-linear-gradient(#0000EE, #000000);
  background: -webkit-linear-gradient(#000099, #000000);
}

/* 背景画像のCSS */
body {
  /* 画像ファイルの指定 */
  /* 画像データは：app/assets/images/wallpaper-katana-01.jpg */ 
  background-image: url("../images/wallpaper-katana-tn.jpg");

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状(画像の下に同じ画像)に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: rgba(0, 0, 0, .6);

  /* 背景色とのブレンド */
  background-blend-mode: darken;

  /* ページ全体のフォントカラー */
  color: #fff;
}

.table {
  color: #fff !important;
}

/* Bootstrapの.table-hoverのオーバーライド */
.table-hover {
  tbody tr {
    /* @include hover：優先して下さいの意 */
    @include hover() {
      color: #fff !important;
      background-color: #000 !important;
    }
  }
}

/* 下にスクロールした時に現れるアイコン：画面上に戻るボタン */
.page-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* 下にスクロールした時に現れるアイコンのサイズ */
.page-top img {
  width: 80px;
  height: 80px;
}

.sbox2{
  height:50px;
  padding:0 10px;
  position:absolute;
  left:0;
  top:0;
  border-radius:2px;
  outline:0;
  background:#eee;
}

/* サイドバーにあるジャンル項目の書体 */ 
.side-genre {
  font-family: 'Hiragino Mincho ProN' !important;
}